*{
    padding: 0;margin: 0;
}
h1{
    font-size: 30px;
}
.block{
    width: 500px;
    height: 500px;
    margin: auto;
    opacity: .8;
    text-align: center;
    background-image: linear-gradient(0deg,lemonchiffon,lightcyan);
}
.title{
    margin: auto;
    padding-top: 100px;
    width: fit-content;
    justify-content: center;
    font-size: 28px;
}
.main{
    display: flex;
    justify-content: center;
}
.btn{
    margin: 10px;
}